# Unpivot ANY nested table
[Following DataChant's example in PowerBI](https://datachant.com/2016/01/03/transform-any-nested-table-to-pivot-table-with-function-query/) this exercise is conducted in Pandas

In [2]:
import pandas as pd

<div class='alert alert-block alert-info' >
    <li>Read in input sheet with sheet_name
    <li>Specify multi-level header 
</div>

In [3]:
df = pd.read_excel(r'Unpivot Any Nested Table.xlsx', sheet_name = 'Sheet1', header = [0, 1, 2])

## Store a copy of the data read in
I make this a standard practice since generally we reach out for data over the web and it might take rather a long time to retrieve it. Manipulation can corrupt the original data and so a copy comes in handy

In [5]:
df_copy = df.copy()

In [6]:
df.columns

MultiIndex([('Unnamed: 0_level_0', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2'),
            ('Unnamed: 1_level_0', 'Unnamed: 1_level_1', 'Unnamed: 1_level_2'),
            ('Unnamed: 2_level_0', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2'),
            (    'Private School',               'Male',               'Math'),
            (    'Private School',               'Male',            'English'),
            (    'Private School',               'Male',          'Chemistry'),
            (    'Private School',             'Female',               'Math'),
            (    'Private School',             'Female',            'English'),
            (     'Public School',               'Male',               'Math'),
            (     'Public School',               'Male',            'English'),
            (     'Public School',               'Male',          'Chemistry'),
            (     'Public School',             'Female',               'Math'),
            (     'Public School',             'Female',            'English'),
            (     'Public School',             'Female',          'Chemistry')],
           )

## Standard handling of multi-level columns involves joining the column tuples seen above using a delimiter such as underscore

In [7]:
newCols = ['_'.join(col) for col in df.columns]
df.columns = newCols

In [8]:
df.columns

Index(['Unnamed: 0_level_0_Unnamed: 0_level_1_Unnamed: 0_level_2',
       'Unnamed: 1_level_0_Unnamed: 1_level_1_Unnamed: 1_level_2',
       'Unnamed: 2_level_0_Unnamed: 2_level_1_Unnamed: 2_level_2',
       'Private School_Male_Math', 'Private School_Male_English',
       'Private School_Male_Chemistry', 'Private School_Female_Math',
       'Private School_Female_English', 'Public School_Male_Math',
       'Public School_Male_English', 'Public School_Male_Chemistry',
       'Public School_Female_Math', 'Public School_Female_English',
       'Public School_Female_Chemistry'],
      dtype='object')

## Since we know the names of the first three column, we rename them

In [9]:
df.rename(columns={'Unnamed: 0_level_0_Unnamed: 0_level_1_Unnamed: 0_level_2':'Continent', 'Unnamed: 1_level_0_Unnamed: 1_level_1_Unnamed: 1_level_2':'Country',  'Unnamed: 2_level_0_Unnamed: 2_level_1_Unnamed: 2_level_2':'City'}, inplace=True)

In [10]:
df.columns

Index(['Continent', 'Country', 'City', 'Private School_Male_Math',
       'Private School_Male_English', 'Private School_Male_Chemistry',
       'Private School_Female_Math', 'Private School_Female_English',
       'Public School_Male_Math', 'Public School_Male_English',
       'Public School_Male_Chemistry', 'Public School_Female_Math',
       'Public School_Female_English', 'Public School_Female_Chemistry'],
      dtype='object')