# Unpivot ANY nested table
[Following DataChant's example in PowerBI](https://datachant.com/2016/01/03/transform-any-nested-table-to-pivot-table-with-function-query/) this exercise is conducted in Pandas

In [157]:
df = pd.DataFrame(df)

In [161]:
df[0]
# convert PDF into CSV file
tby.convert_into(r"C:\Users\sjtal\Documents\ComparisonStudyPowerBIAndPandas\20200715-covid-19-sitrep-177.pdf", r"C:\Users\sjtal\Documents\ComparisonStudyPowerBIAndPandas\WHOCountriesCovid.csv", output_format="csv", pages=[6,7,8,9,10,11,12,13,14,15])

In [182]:
df = pd.read_csv(r"C:\Users\sjtal\Documents\ComparisonStudyPowerBIAndPandas\WHOCountriesCovid.csv", encoding='latin')

In [183]:
df.tail()
#Drop the row containing Grand Total

df[df['Reporting Country/Territory/Area'] == 'Grand total']

df.drop(df.loc[df['Reporting Country/Territory/Area']=='Grand total'].index, inplace=True)
df.drop(df.loc[df['Reporting Country/Territory/Area']=='Subtotal for all regions'].index, inplace=True)

df.drop(df.loc[(df['Total confirmed']=='cases') | (df['Total confirmed']=='Totalconfirmed') | (df['Total confirmed']=='Total confirmed') ].index, inplace=True)

In [184]:
df.head()
df[df['Total confirmed']=='cases']
df['Total confirmed'].unique()

array([nan, '298 292', '33 616', '24 988', '20 216', '15 173', '13 037',
       '10 791', '8 243', '8 181', '8 134', '6 200', '5 942', '5 446',
       '5 343', '4 321', '2 497', '2 423', '2 358', '2 283', '2 153',
       '1 902', '1 780', '1 651', '1 463', '1 434', '1 416', '1 268',
       '1 099', '1 064', '1 043', '1 040', '1 038', '1 037', '884', '864',
       '731', '541', '509', '416', '399', '343', '321', '269', '256',
       '232', '100', '64', '2 724', '599', '3 344 783', '1 884 967',
       '330 123', '319 493', '304 435', '154 277', '108 155', '103 265',
       '69 570', '49 250', '47 173', '46 305', '29 742', '28 579',
       '10 303', '9 707', '8 036', '6 727', '2 980', '2 712', '2 432',
       '989', '780', '759', '300', '133', '113', '103', '74', '37', '35',
       '23', '22', '18', '17', '10 123', '6 229', '255', '206', '203',
       '190', '150', '105', '78', '72', '44', '26', '13', '12', '9', '8',
       '6', '3', '2', '262 173', '255 769', '237 803', '104 533',
       '83 930', '81 757', '59 568', '56 174', '55 573', '34 940',
       '34 078', '16 097', '10 417', '4 979', '3 076', '2 451', '1 563',
       '1 520', '1 306', '1 198', '439', '7 734', '746 369', '291 377',
       '256 619', '243 344', '214 993', '199 726', '162 390', '76 001',
       '65 269', '63 514', '62 781', '55 607', '51 091', '47 051',
       '39 294', '38 457', '33 585', '33 005', '32 931', '25 670',
       '25 113', '19 708', '19 060', '18 983', '14 293', '13 341',
       '13 061', '11 977', '8 984', '8 331', '7 645', '7 301', '6 979',
       '6 643', '4 956', '4 263', '3 883', '3 827', '3 752', '2 015',
       '1 908', '1 905', '1 875', '1 859', '1 287', '1 178', '1 022',
       '1 003', '861', '716', '674', '99', '85', '5 075', '336', '329',
       '252', '188', '180', '936 181', '190 057', '78 572', '17 061',
       '3 232', '2 801', '2 665', '337', '84', '24', '85 677', '57 545',
       '46 630', '22 508', '13 551', '10 251', '8 729', '1 197', '373',
       '243', '165', '141', '19', '11', '305', '62', '36', '741'],
      dtype=object)

In [186]:
df = df.rename(columns={'Reporting Country/Territory/Area':'Country', 'Total confirmed':'Total confirmed cases', 'Total confirmed.1':'Total confirmed new cases'})
# df.columns
#df.set_index('Country',inplace=True)

# 238 rows Ã— 6 columns
pd.options.display.max_rows = 999
df['Total confirmed cases'].unique()
df['Total confirmed new cases'].unique()
df['Total deaths'].unique()
df['Total new deaths'].unique()

#Found 'Total new deaths',
df[df['Total new deaths'] == 'Total new deaths'] 
df[df['Total deaths'] == 'Total new deaths']

Empty DataFrame
Columns: [Country, Total confirmed cases, Total confirmed new cases, Total deaths, Total new deaths, Transmission, Days since last]
Index: []

In [187]:
df = df.dropna(axis = 0, subset=['Total confirmed cases'])

df.shape #(226, 6)

(216, 7)

In [189]:
df['Total confirmed cases']= df['Total confirmed cases'].apply(lambda x: x.replace(' ',''))
df['Total confirmed new cases'] = df['Total confirmed new cases'].apply(lambda x: x.replace(' ',''))
df['Total deaths'] = df['Total deaths'].apply(lambda x: x.replace(' ',''))
df['Total new deaths'] = df['Total new deaths'].apply(lambda x: x.replace(' ',''))

# When facing challenges in changing data type, check if you have strings in any of the columns or rows
df['Total confirmed cases'].astype(str).astype(int)
# 
# pd.to_numeric(df['Total confirmed cases'])
# 


df.index
df['Total confirmed cases']

2       298292
3        33616
4        24988
5        20216
6        15173
7        13037
8        10791
9         8243
10        8181
11        8134
12        6200
13        5942
14        5446
15        5343
16        4321
17        2497
18        2423
19        2358
20        2283
21        2153
22        1902
25        1780
26        1651
27        1463
28        1434
29        1416
30        1268
31        1099
32        1064
33        1043
34        1040
35        1038
36        1037
37         884
38         864
39         731
40         541
41         509
42         416
43         399
44         343
45         321
46         269
47         256
50         232
51         100
52          64
54        2724
55         599
57     3344783
58     1884967
59      330123
60      319493
61      304435
62      154277
63      108155
64      103265
65       69570
66       49250
67       47173
68       46305
69       29742
70       28579
71       10303
72        9707
73        8036
76        6727
77        2980
78        2712
79        2432
80         989
81         780
82         759
83         300
84         133
85         113
86         103
87          74
88          37
89          35
90          23
91          22
92          18
93          17
95       10123
96        6229
97         255
98         206
99         203
102        190
103        150
104        105
105         78
106         72
107         44
108         26
109         13
110         12
111          9
112          8
113          6
114          3
115          2
117     262173
118     255769
119     237803
120     104533
121      83930
122      81757
123      59568
124      56174
125      55573
128      34940
129      34078
130      16097
131      10417
132       4979
133       3076
134       2451
135       1563
136       1520
137       1306
138       1198
139        439
141       7734
143     746369
144     291377
145     256619
146     243344
147     214993
148     199726
149     162390
150      76001
151      65269
154      63514
155      62781
156      55607
157      51091
158      47051
159      39294
160      38457
161      33585
162      33005
163      32931
164      25670
165      25113
166      19708
167      19060
168      18983
169      14293
170      13341
171      13061
172      11977
173       8984
174       8331
175       7645
176       7301
177       6979
180       6643
181       4956
182       4263
183       3883
184       3827
185       3752
186       2015
187       1908
188       1905
189       1875
190       1859
191       1287
192       1178
193       1022
194       1003
195        861
196        716
197        674
198         99
199         85
200         12
202       5075
205        336
206        329
207        252
208        188
209        180
210         13
212     936181
213     190057
214      78572
215      17061
216       3232
217       2801
218       2665
219        337
220         84
221         24
223      85677
224      57545
225      46630
226      22508
227      13551
230      10251
231       8729
232       1197
233        373
234        243
235        165
236        141
237         26
238         19
239         11
241        305
242         62
243         36
245         22
247        741
Name: Total confirmed cases, dtype: object

In [111]:

df.loc['India']

Total confirmed cases                   936181
Total confirmed new cases                29429
Total deaths                             24309
Total new deaths                           582
Transmission                 Clusters of cases
Days since last                              0
Name: India, dtype: object