In [156]:
import pandas as pd

import tabula as tby



#References
#https://pypi.org/project/tabula-py/
#https://www.youtube.com/watch?v=x6AOKcPar2M

In [157]:
df = pd.DataFrame(df)

In [161]:
df[0]
# convert PDF into CSV file
tby.convert_into(r"C:\Users\sjtal\Documents\ComparisonStudyPowerBIAndPandas\20200715-covid-19-sitrep-177.pdf", r"C:\Users\sjtal\Documents\ComparisonStudyPowerBIAndPandas\WHOCountriesCovid.csv", output_format="csv", pages=[6,7,8,9,10,11,12,13,14,15])

In [182]:
df = pd.read_csv(r"C:\Users\sjtal\Documents\ComparisonStudyPowerBIAndPandas\WHOCountriesCovid.csv", encoding='latin')

In [183]:
df.tail()
#Drop the row containing Grand Total

df[df['Reporting Country/Territory/Area'] == 'Grand total']

df.drop(df.loc[df['Reporting Country/Territory/Area']=='Grand total'].index, inplace=True)
df.drop(df.loc[df['Reporting Country/Territory/Area']=='Subtotal for all regions'].index, inplace=True)

df.drop(df.loc[(df['Total confirmed']=='cases') | (df['Total confirmed']=='Totalconfirmed') | (df['Total confirmed']=='Total confirmed') ].index, inplace=True)

In [184]:
df.head()
df[df['Total confirmed']=='cases']
df['Total confirmed'].unique()

array([nan, '298 292', '33 616', '24 988', '20 216', '15 173', '13 037',
       '10 791', '8 243', '8 181', '8 134', '6 200', '5 942', '5 446',
       '5 343', '4 321', '2 497', '2 423', '2 358', '2 283', '2 153',
       '1 902', '1 780', '1 651', '1 463', '1 434', '1 416', '1 268',
       '1 099', '1 064', '1 043', '1 040', '1 038', '1 037', '884', '864',
       '731', '541', '509', '416', '399', '343', '321', '269', '256',
       '232', '100', '64', '2 724', '599', '3 344 783', '1 884 967',
       '330 123', '319 493', '304 435', '154 277', '108 155', '103 265',
       '69 570', '49 250', '47 173', '46 305', '29 742', '28 579',
       '10 303', '9 707', '8 036', '6 727', '2 980', '2 712', '2 432',
       '989', '780', '759', '300', '133', '113', '103', '74', '37', '35',
       '23', '22', '18', '17', '10 123', '6 229', '255', '206', '203',
       '190', '150', '105', '78', '72', '44', '26', '13', '12', '9', '8',
       '6', '3', '2', '262 173', '255 769', '237 803', '104 533',
       '83 930', '81 757', '59 568', '56 174', '55 573', '34 940',
       '34 078', '16 097', '10 417', '4 979', '3 076', '2 451', '1 563',
       '1 520', '1 306', '1 198', '439', '7 734', '746 369', '291 377',
       '256 619', '243 344', '214 993', '199 726', '162 390', '76 001',
       '65 269', '63 514', '62 781', '55 607', '51 091', '47 051',
       '39 294', '38 457', '33 585', '33 005', '32 931', '25 670',
       '25 113', '19 708', '19 060', '18 983', '14 293', '13 341',
       '13 061', '11 977', '8 984', '8 331', '7 645', '7 301', '6 979',
       '6 643', '4 956', '4 263', '3 883', '3 827', '3 752', '2 015',
       '1 908', '1 905', '1 875', '1 859', '1 287', '1 178', '1 022',
       '1 003', '861', '716', '674', '99', '85', '5 075', '336', '329',
       '252', '188', '180', '936 181', '190 057', '78 572', '17 061',
       '3 232', '2 801', '2 665', '337', '84', '24', '85 677', '57 545',
       '46 630', '22 508', '13 551', '10 251', '8 729', '1 197', '373',
       '243', '165', '141', '19', '11', '305', '62', '36', '741'],
      dtype=object)

In [186]:
df = df.rename(columns={'Reporting Country/Territory/Area':'Country', 'Total confirmed':'Total confirmed cases', 'Total confirmed.1':'Total confirmed new cases'})
# df.columns
df.set_index('Country',inplace=True)

# 238 rows Ã— 6 columns
pd.options.display.max_rows = 999
df['Total confirmed cases'].unique()
df['Total confirmed new cases'].unique()
df['Total deaths'].unique()
df['Total new deaths'].unique()

#Found 'Total new deaths',
df[df['Total new deaths'] == 'Total new deaths'] 
df[df['Total deaths'] == 'Total new deaths']

Empty DataFrame
Columns: [Country, Total confirmed cases, Total confirmed new cases, Total deaths, Total new deaths, Transmission, Days since last]
Index: []

In [187]:
df = df.dropna(axis = 0, subset=['Total confirmed cases'])

df.shape #(226, 6)

(216, 7)

In [191]:
df['Total confirmed cases']= df['Total confirmed cases'].apply(lambda x: x.replace(' ',''))
df['Total confirmed new cases'] = df['Total confirmed new cases'].apply(lambda x: x.replace(' ',''))
df['Total deaths'] = df['Total deaths'].apply(lambda x: x.replace(' ',''))
df['Total new deaths'] = df['Total new deaths'].apply(lambda x: x.replace(' ',''))

# When facing challenges in changing data type, check if you have strings in any of the columns or rows
df['Total confirmed cases'].astype(str).astype(int)
df['Total confirmed new cases'].astype(str).astype(int)
df['Total deaths'].astype(str).astype(int)
df['Total new deaths'].astype(str).astype(int)

2      174
3       10
4        0
5       10
6        0
7        3
8        5
9        0
10       7
11       0
12       0
13       0
14       2
15       2
16       0
17       1
18       0
19       1
20       0
21       0
22       0
25       0
26       1
27       2
28       0
29       0
30       0
31       0
32       1
33       0
34       0
35       0
36       0
37       0
38       1
39       0
40       0
41       0
42       0
43       0
44       0
45       0
46       0
47       0
50       0
51       0
52       0
54       0
55       0
57     349
58     733
59     184
60      45
61     485
62     148
63       7
64      67
65      67
66      59
67      23
68       7
69      25
70      15
71      11
72       4
73       1
76       2
77       0
78       8
79       0
80       0
81       0
82       0
83       0
84       0
85       0
86       0
87       0
88       0
89       0
90       0
91       0
92       0
93       0
95       2
96       2
97       0
98       0
99       0
102      0
103      0
104      0
105      0
106      0
107      0
108      0
109      0
110      0
111      0
112      0
113      0
114      0
115      0
117    179
118     66
119     40
120      1
121     73
122     95
123     14
124      3
125      1
128     49
129      2
130      2
131      2
132      0
133      0
134      1
135      2
136      5
137      0
138      0
139      2
141      6
143    156
144    138
145      3
146     17
147     20
148      7
149      0
150      9
151      6
154      0
155      0
156     15
157      0
158      6
159      0
160     12
161     30
162     11
163      2
164      0
165      6
166      6
167      1
168     13
169      4
170      2
171      0
172     11
173      0
174      4
175      7
176      0
177      0
180      1
181      0
182      0
183      0
184      1
185      4
186      0
187      0
188      0
189      0
190      0
191      0
192      0
193      0
194      0
195      0
196      0
197      0
198      0
199      0
200      0
202      0
205      0
206      0
207      0
208      0
209      0
210      0
212    582
213     33
214     54
215      0
216      0
217      1
218      0
219      0
220      0
221      0
223      0
224      4
225      1
226      2
227      0
230      0
231      0
232      0
233      0
234      0
235      0
236      0
237      0
238      0
239      0
241      0
242      0
243      0
245      0
247      0
Name: Total new deaths, dtype: int32

In [193]:
df.set_index('Country',inplace=True)
df.loc['India']

Total confirmed cases                   936181
Total confirmed new cases                29429
Total deaths                             24309
Total new deaths                           582
Transmission                 Clusters of cases
Days since last                              0
Name: India, dtype: object